# Build output folders
Debug/
Release/
x64/

# Visual Studio settings
.vs/
*.vcxproj.user
*.suo
*.VC.db
*.ncb
*.ipch

# Compiled and temp files
*.exe
*.obj
*.pdb
*.ilk
*.tlog
*.log

# OS-specific junk
*.DS_Store
Thumbs.db